*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0B0911;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

h1{
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

p{
    color:white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 19.21px;
    line-height: 23px;
    opacity: 0.67;
}
header {
    max-width: 800px;
    display: grid;
    gap: 8px;
    margin: 107px 76px 0px 76px;
}

.interactBody{
    background-color: #130F1E;
    height: 100vh;
    width: 406px;
    position: relative;
}

.interactSection{
    display: flex;
    margin: 107px 44px 0px 44px;
    flex-direction: column;
}
.textInteract{
    max-width: 360px;
    display: grid;
    gap: 8px;
}

.interactBody i{
    color: white;
    position: absolute;
    right: 30px;
    top: 35px;
    font-size: 26px;
    cursor: pointer;
}

.interactBody i:hover{
    color: #8257E5;
}


.primary{
    --bg-default: #8257E5;
    --bg-hover: #9674E5;
}
.secondary{
  --bg-default: #3C3748;
  --bg-hover: #6A617F;
}
.tertiary{
  --bg-default: transparent;
  --bg-hover: transparent;
}

button{
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.interactButtons{
    padding: 12px 24px;
    border-radius: 24px;
}
.buttonsInteractSection{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 68px;
}

.primary.interactButtons{
    background-color: var(--bg-default);
}
.secondary.interactButtons{
    background-color: var(--bg-default);
}
.terciary.interactButtons{
    background-color: var(--bg-default);
    border: 0;
}